.item {
    display: flex;
    height: 48px;
    background: #FFFFFF;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.item > div {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    text-align: center;
}
.item:nth-child(even){
    background: #F8F7FD;
}
.btn {
    color: #21268F;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    background: #D7D8EF;
    padding: 5px;
    border-radius: 2px;
}
.btn:first-child{
    background: #F1453D;
    color: #FFFFFF;
}
.text{

    font-family: 'SF UI Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}