.btnDown{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btnUp{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btnUp img{
    transform: rotate(180deg);
}