.btn {
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    height: 36px;
    font-size: 16px;
    color: #ECECF9;
    border: none;
    cursor: pointer;
    padding:9px 45px;
    background-color: #21268F;
}