.errorMessage {
    z-index: 999;
    position: absolute;
    top: 94%;
    padding: 5px 40px 5px 10px;

    border-radius: 8px;
    text-align: center;
    background-color: #F9F9FE;
}

.btnContainer {
    position: absolute;
    top: 10%;
    right: 2%;

}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}