.link {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.link img{
    margin-right: 30px;
    width: 30px;
}
.title{
    font-family: 'Poppins', sans-serif ;
    font-weight: 600;
    font-size: 22px;
    color: #2D2E46;
}
.tableHeader{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #2D2E46;
    height: 48px;
    background: #ECECF9;
    align-items: center;
}
.btn{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search > form {
    margin: 15px 0;
}
