.container{
    width: 100%;
}

.imgWrapper{
    position: relative;
}
.label{
    display: block;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #24254A;
    opacity: 0.5;
}
.password{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid  #24254A;
    background: #F9F9FE;
    font-size: 20px;
    margin-bottom: 5px;
    padding-right: 50px;
}

.eye{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.btn{
    position: absolute;
    top: 15%;
    right: 10px;
    cursor: pointer;
    width: 45px;
    height: 25px;
    background: transparent;
    border: none;
    outline: none;
}