.container{
    display: flex;
    align-items: center;
}
.select{
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #635D80!important;
    box-sizing: border-box;
    accent-color: #635D80;
    padding: 3px;
    margin: 0 5px;
    outline: none;
}
.text{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #2D2E46;
    text-transform: capitalize;
}