.form{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    position: relative;
}
.avatar img{
    width: 96px;
    height: 96px;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #2D2E46;
}
.changePhoto{
    position: absolute;
    top: 75%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: rgba(45, 46, 70, 0.5);
    border-radius: 50%;
    cursor: pointer;
}
.changePhoto img{
    width: 20px;
    height: 20px;
}
input[type="file"] {
    display: none;
}