.container {
    position: relative;
}

.nav {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.link {
    color: #282c34;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 35px;

}


.menu {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin-bottom: 20px;
    background: #EBE0E9;
    position: absolute;
}

.active {
    color: darkslateblue;
    background: #DCCCDB;
    border-bottom: 3px solid  #21268F;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}